<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post </title>
</head>
<body style="background-color: burlywood;">
    <h3>Create Your New Post :</h3>
    <form method="post" action="/posts">
        <label>Username :</label>
        <input placeholder="enter username" name="username"/><br/>
        <br/>
        <label style="top: auto;">Content :</label>
        <textarea cols="30" rows="10" placeholder="write your post" name="content"></textarea><br/><br/>
       &nbsp; <button>Submit</button>
    </form>
</body>
</html>